.full_gsbb{display:block;}.empty_gsbb{display:none;}table.resultTable_gsbb td{border:none;}div.resultDiv_gsbb{border-style:none;border-width:none;height:94px;width:85px;}div.smallResultDiv_gsbb{height:41px;width:54px;text-align:center;}div.resultDiv_gsbb img{cursor:pointer;}