<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 7/3/12
  Time: 9:46 AM
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
    <div class="right-sample panel">
        <h:outputLink value="http://books.google.com/" target="_blank">
            <h:graphicImage id="imageGoogleBookSearch" url="images/google-booksearch.gif"
                            title="#{bundle['bookbar.imageGoogleBookSearch.title']}"
                            alt="#{bundle['bookbar.imageGoogleBookSearch.alt']}" styleClass="image"/>
        </h:outputLink>

        <div id="bookBarVertical" class="verticalBookbar">
            <img src="images/loading.gif" alt="#{bundle['global.loading']}" title="#{bundle['global.loading']}"/>
        </div>
    </div>
</ui:composition>

</html>