<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 7/2/12
  Time: 4:11 PM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:composition template="/template.xhtml">
        <ui:define name="pageTitle">
            <h:outputText value="#{bundle['global.appTtitle']} - #{bundle['error.labelPage']}"/>
        </ui:define>
        <ui:define name="content">
            <table align="center">
                <tbody>
                    <tr>
                        <td align="center">
                            <h:panelGrid>
                                <h:outputLabel id="labelApp" value="#{bundle['global.appLabel']}" styleClass="appLabel"/>
                            </h:panelGrid>
                            <h:panelGrid>
                                <h:outputLabel id="labelPage" value="#{bundle['error.labelPage']}" styleClass="pageLabel"/>
                            </h:panelGrid>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center">
                <tbody>
                    <tr>
                        <td>
                            <h:messages globalOnly="true"/>
                            <h:panelGrid columns="2" cellpadding="6" cellspacing="6">
                                <h:outputLink id="linkNewSearch" value="#{request.contextPath}/welcome.jsf" styleClass="link">
                                    <h:outputText id="textNewSearch" value="#{bundle['error.textNewSearch.value']}"
                                                  title="#{bundle['error.textNewSearch.title']}"/>
                                </h:outputLink>
                                <h:outputLink id="linkBack"
                                                  value="javascript:history.back()" styleClass="link">
                                        <h:outputText id="textBack"
                                                      value="#{bundle['global.linkBack.value']}"
                                                      title="#{bundle['global.linkBack.title']}"/>
                                    </h:outputLink>
                            </h:panelGrid>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ui:define>
    </ui:composition>
</html>