<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 7/3/12
  Time: 10:39 AM
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
    <script src="http://www.google.com/jsapi?key=ABQIAAAAvpfjWdHebag_BwPbZSKdtRQBm503GCqeYDyAV1otLNGyrxj8yRRQnbEoChgUUzN_8wkIhFqK-71piA" type="text/javascript"></script>
    <script src="scripts/google.js" type="text/javascript"></script>
    <div id="searchcontrol" class="popBody">
        <img src="images/loading.gif" alt="#{bundle['global.loading']}"/>
    </div>
</ui:composition>

</html>