<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 7/2/12
  Time: 12:22 PM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich">

    <ui:composition>
        <noscript><div align="center" class="alert">#{bundle['global.noscript.alert']}</div></noscript>
        <rich:toolbar height="26px">
            <rich:dropDownMenu mode="ajax">
                <f:facet name="label">
                    <rich:menuItem id="adidonntu" onclick="document.location.href='http://www.adidonntu.ru/'">
                        <h:outputText value="#{bundle['header.adidonntu.main.title']}" styleClass="hLabel"/>
                    </rich:menuItem>
                </f:facet>
                <rich:menuGroup id="structure" label="#{bundle['header.adidonntu.structure.title']}">
                    <rich:menuItem onclick="document.location.href='http://www.adidonntu.ru/content/ker-vnitstvo-nstitutu-adm-n-strats-ya'">
                        <h:outputText value="#{bundle['header.adidonntu.structure.admin.title']}" styleClass="hLabel"/>
                    </rich:menuItem>
                </rich:menuGroup>
            </rich:dropDownMenu>
        </rich:toolbar>
    </ui:composition>
</html>