<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 7/2/12
  Time: 9:57 AM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="Refresh" content="0; URL=welcome.jsf"/>
        <title>#{bundle['global.appTtitle']}</title>
        <style type="text/css">
            body{text-align:center;}p{font-size:large;font-weight:bold;}span{display:none;}
        </style>
    </h:head>

    <h:body>
        <p>#{bundle['global.loading']}</p>
        <img alt="#{bundle['global.loading']}" src="images/javafx-loading-100x100.gif"/>
        <br />
        <h:link outcome="welcomeRichfaces" value="Richfaces welcome page" />
    </h:body>

</html>