<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 8/22/12
  Time: 9:46 AM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich">

    <ui:composition template="/template.xhtml">
        <ui:define name="pageTitle">
            <h:outputText value="#{bundle['global.appTtitle']} - #{bundle['inventory.labelPage']}"/>
        </ui:define>
        <ui:define name="content">
            <h:form id="inventory" prependId="false">
                <table align="center">
                    <tbody>
                        <tr>
                            <td align="center">
                                <h:panelGrid>
                                    <h:outputLabel id="labelApp" value="#{bundle['global.appLabel']}" styleClass="appLabel"/>
                                </h:panelGrid>
                                <h:panelGrid>
                                    <h:outputLabel id="labelPage" value="#{bundle['inventory.labelPage']}" styleClass="pageLabel"/>
                                </h:panelGrid>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table align="center">
                    <tbody>
                        <tr>
                            <td>
                                <h:dataTable id="cardTable" value="#{controller.cardModel}" var="inventory" cellpadding="2"
                                             cellspacing="2" width="700" styleClass="invTable">
                                    <h:column>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90">
                                                <h:outputText id="PRESS_MARK" value="#{inventory.PRESS_MARK}"
                                                              title="#{inventory.PRESS_MARK}"/>
                                            </h:panelGrid>
                                            <h:panelGrid>
                                                <h:outputText id="CARD_AUTHOR" value="#{inventory.CARD_AUTHOR}"
                                                              title="#{inventory.CARD_AUTHOR}"/>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90">
                                                <h:outputText id="AUTHR_SIGN" value="#{inventory.AUTHR_SIGN}"
                                                              title="#{inventory.AUTHR_SIGN}"/>
                                            </h:panelGrid>
                                            <h:panelGrid>
                                                <h:outputText id="BASIC_DESCRIPTION" value="#{inventory.BASIC_DESCRIPTION}"
                                                              title="#{inventory.BASIC_DESCRIPTION}"/>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90"/>
                                            <h:panelGrid columns="2">
                                                <h:panelGrid width="400"/>
                                                <h:panelGrid>
                                                    <h:outputText id="KEEP_CODE" value="#{inventory.KEEP_CODE}"
                                                                  title="#{inventory.KEEP_CODE}"/>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90"/>
                                            <h:panelGrid columns="4">
                                                <h:panelGrid>
                                                    <h:graphicImage value="#{inventory.imageURL}" title="#{inventory.resource}"/>
                                                </h:panelGrid>
                                                <h:panelGrid>
                                                    <h:commandLink id="detailsLink" action="#{controller.openDetails}"
                                                                   value="#{bundle['searchresults.linkDetails.value']}"
                                                                   title="#{bundle['searchresults.linkDetails.title']}"
                                                                   styleClass="link"/>
                                                </h:panelGrid>
                                                <h:panelGrid width="50"/>
                                                <h:panelGrid columns="2">
                                                    <h:graphicImage id="attachment" url="#{inventory.imagePDF}"
                                                                    title="#{inventory.ELECTR_RES}"
                                                                    alt="PDF" style="visibility:#{inventory.ftpStyle}"/>
                                                    <h:commandLink id="ftpLink" action="#"
                                                                   value="#{bundle['searchresults.ftpText.value']}"
                                                                   title="#{bundle['searchresults.ftpText.title']}"
                                                                   styleClass="link"
                                                                   style="visibility:#{inventory.ftpStyle}">
                                                        <rich:componentControl target="pdf_viewer" operation="show"/>
                                                    </h:commandLink>
                                                    <h:graphicImage id="repository" url="#{inventory.imageFTP}"
                                                                    title="#{bundle['searchresults.httpText.title']}"
                                                                    alt="#{inventory.REPO_RES}"/>
                                                    <h:outputLink id="httpLink" value="#{inventory.REPO_RES}"
                                                                  styleClass="link">
                                                        <h:outputText id="httpText"
                                                                      value="#{inventory.REPO_RES}"
                                                                      title="#{bundle['searchresults.httpText.title']}"/>
                                                    </h:outputLink>
                                                        <rich:popupPanel id="pdf_viewer" modal="true" autosized="false" resizeable="false" height="800" width="600">
                                                            <f:facet name="header">
                                                                <h:outputText value="#{inventory.ELECTR_RES}" title="#{inventory.ELECTR_RES}" styleClass="hLabel"/>
                                                            </f:facet>
                                                            <f:facet name="controls">
                                                                <h:outputLink value="#" onclick="#{rich:component('pdf_viewer')}.hide(); return false;">
                                                                    <h:graphicImage url="images/remove.png" title="#{bundle['global.imageRemove.title']}"
                                                                                    alt="#{bundle['global.imageRemove.alt']}"
                                                                                    styleClass="cursor" height="16" width="16"/>
                                                                </h:outputLink>
                                                            </f:facet>
                                                            <iframe src="http://unilib.adidonntu.ru/viewer/pdfjs-dist/viewer.html?file=%2Ffiles%2F%3Fid%3D#{inventory.FILE_NAME}.pdf" width="100%" height="760px" />
                                                        </rich:popupPanel>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </h:column>
                                </h:dataTable>
                                <br/>
                                <h:dataTable id="invTable" value="#{controller.copiesModel}" var="inventory" cellpadding="2"
                                             cellspacing="2" width="700" styleClass="invTable">
                                    <h:column headerClass="columnHeader">
                                        <f:facet name="header">
                                            <h:outputLabel value="#{bundle['inventory.labelINVNUM.value']}"
                                                           title="#{bundle['inventory.labelINVNUM.title']}"/>
                                        </f:facet>
                                        <h:panelGrid>
                                            <h:outputText id="INVNUM" value="#{inventory.stringINVNUM}"
                                                          title="#{inventory.stringINVNUM}"/>
                                        </h:panelGrid>
                                    </h:column>
                                    <h:column headerClass="columnHeader">
                                        <f:facet name="header">
                                            <h:outputLabel value="#{bundle['inventory.labelPRESS_MARK.value']}"
                                                           title="#{bundle['inventory.labelPRESS_MARK.title']}"/>
                                        </f:facet>
                                        <h:panelGrid>
                                            <h:outputText id="PRESS_MARK" value="#{inventory.PRESS_MARK}"
                                                          title="#{inventory.PRESS_MARK}"/>
                                        </h:panelGrid>
                                    </h:column>
                                    <h:column headerClass="columnHeader">
                                        <f:facet name="header">
                                            <h:outputLabel value="#{bundle['inventory.labelKEEP_CODE.value']}"
                                                           title="#{bundle['inventory.labelKEEP_CODE.title']}"/>
                                        </f:facet>
                                        <h:panelGrid>
                                            <h:outputText id="KEEP_CODE" value="#{inventory.KEEP_CODE}"
                                                          title="#{inventory.KEEP_CODE}"/>
                                        </h:panelGrid>
                                    </h:column>
                                    <h:column headerClass="columnHeader">
                                        <f:facet name="header">
                                            <h:outputLabel value="#{bundle['inventory.labelAUTHR_SIGN.value']}"
                                                           title="#{bundle['inventory.labelAUTHR_SIGN.title']}"/>
                                        </f:facet>
                                        <h:panelGrid>
                                            <h:outputText id="AUTHR_SIGN" value="#{inventory.AUTHR_SIGN}"
                                                          title="#{inventory.AUTHR_SIGN}"/>
                                        </h:panelGrid>
                                    </h:column>
                                    <h:column headerClass="columnHeader">
                                        <f:facet name="header">
                                            <h:outputLabel value="#{bundle['inventory.labelSIGLA.value']}"
                                                           title="#{bundle['inventory.labelSIGLA.title']}"/>
                                        </f:facet>
                                        <h:panelGrid>
                                            <h:outputText id="SIGLA" value="#{inventory.SIGLA}" title="#{inventory.SIGLA}"/>
                                        </h:panelGrid>
                                    </h:column>
                                </h:dataTable>
                                <h:panelGrid id="menuBottom" columns="6">
                                    <h:panelGrid>
                                        <h:commandButton id="newSearchButton" action="#{controller.newSearch}"
                                                         value="#{bundle['inventory.newSearchButton.value']}"
                                                         title="#{bundle['inventory.newSearchButton.title']}"
                                                         styleClass="button cursor"/>
                                    </h:panelGrid>
                                    <h:panelGrid>
                                        <c:if test="${controller.statusBook != 2}">
                                            <c:if test="${controller.newBooks == false}">
                                                <h:commandButton id="searchResultsButton" action="#{controller.openSearchResults}"
                                                                 value="#{bundle['inventory.searchResultsButton.value']}"
                                                                 title="#{bundle['inventory.searchResultsButton.title']}"
                                                                 styleClass="button cursor"/>
                                            </c:if>
                                            <c:if test="${controller.newBooks == true}">
                                                <h:commandButton id="newBooksResultsButton"
                                                                 action="#{controller.openNewBooksResults}"
                                                                 value="#{bundle['inventory.newBooksResultsButton.value']}"
                                                                 title="#{bundle['inventory.newBooksResultsButton.title']}"
                                                                 styleClass="button cursor"/>
                                            </c:if>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid>
                                        <c:if test="${controller.statusBook == 2}">
                                            <h:commandButton id="volumesButton" action="#{controller.openVolumes}"
                                                             value="#{bundle['inventory.linkVolumes.value']}"
                                                             title="#{bundle['inventory.linkVolumes.title']}"
                                                             styleClass="button cursor"/>
                                        </c:if>
                                        <c:if test="${controller.statusBook == 6}">
                                            <h:commandButton id="editionButton" action="#{controller.edition}"
                                                             value="#{bundle['details.linkEdition.value']}"
                                                             title="#{bundle['details.linkEdition.title']}" styleClass="button cursor"/>
                                        </c:if>
                                        <c:if test="${controller.statusBook == 8}">
                                            <h:commandButton id="volumesByMultiVolumesBookButton"
                                                             action="#{controller.volumesByMultiVolumesBook}"
                                                             value="#{bundle['inventory.linkVolumes.value']}"
                                                             title="#{bundle['inventory.linkVolumes.title']}"
                                                             styleClass="button cursor"/>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid>
                                        <h:commandButton id="backToDetailsButton" action="#{controller.openDetails}"
                                                         value="#{bundle['inventory.backToDetailsButton.value']}"
                                                         title="#{bundle['inventory.backToDetailsButton.title']}"
                                                         styleClass="button cursor"/>
                                    </h:panelGrid>
                                    <h:panelGrid width="200"/>
                                    <h:panelGrid>
                                        <h:commandLink id="printInventory" action="#{controller.openPrintInventory}"
                                                       target="_blank">
                                            <h:graphicImage url="images/printer.png"
                                                            title="#{bundle['searchresults.imagePrint.title']}"
                                                            alt="#{bundle['searchresults.imagePrint.alt']}" styleClass="image"/>
                                        </h:commandLink>
                                    </h:panelGrid>
                                </h:panelGrid>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>