<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 8/17/12
  Time: 2:47 PM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="pageTitle">
            <h:outputText value="#{bundle['global.appTtitle']} - #{bundle['newbooks.labelPage']}"/>
        </ui:define>
        <ui:define name="content">
            <h:form id="newbooks" prependId="false"> 
                <table align="center">
                    <tbody>
                        <tr>
                            <td align="center">
                                <h:panelGrid>
                                    <h:outputLabel id="labelApp" value="#{bundle['global.appLabel']}" styleClass="appLabel"/>
                                </h:panelGrid>
                                <h:panelGrid>
                                    <h:outputLabel id="labelPage" value="#{bundle['newbooks.labelPage']}" styleClass="pageLabel"/>
                                </h:panelGrid>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table align="center">
                    <tbody>
                        <tr>
                            <td>
                                <h:panelGrid id="menuResults">
                                    <h:panelGrid>
                                        <h:outputFormat id="query" value="#{bundle['news.period']}">
                                            <f:param name="0" value="#{fconfig.dateFrom}"></f:param>
                                            <f:param name="1" value="#{fconfig.dateTo}"></f:param>
                                        </h:outputFormat>
                                    </h:panelGrid>
                                </h:panelGrid>
                                <h:panelGrid id="menuFound" columns="3">
                                    <h:panelGrid>
                                        <c:if test="${controller.inventoryCount != 0}">
                                            <h:outputText id="found"
                                                          value="#{bundle['newbooks.labelFound']} #{controller.inventoryCount}"/>
                                        </c:if>
                                        <c:if test="${controller.inventoryCount == 0}">
                                            <h:outputFormat id="notFound" value="#{bundle['news.notfound']}">
                                                <f:param name="0" value="#{fconfig.dateFrom}"></f:param>
                                                <f:param name="1" value="#{fconfig.dateTo}"></f:param>
                                            </h:outputFormat>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid width="400"/>
                                    <h:panelGrid>
                                        <c:if test="${controller.inventoryCount != 0}">
                                            <h:commandLink id="printNewBooks" action="#{controller.openPrintNewBooks}"
                                                           target="_blank">
                                                <h:graphicImage id="imagePrint" url="images/printer.png"
                                                                title="#{bundle['searchresults.imagePrint.title']}"
                                                                alt="#{bundle['searchresults.imagePrint.alt']}" styleClass="image"/>
                                            </h:commandLink>
                                        </c:if>
                                    </h:panelGrid>
                                </h:panelGrid>
                                <h:panelGrid id="menuTop" columns="6">
                                    <h:panelGrid>
                                        <c:if test="${controller.inventoryCount != 0}">
                                            <h:commandButton id="newSearchButtonTop" action="#{controller.newSearch}"
                                                             value="#{bundle['searchresults.newSearchButton.value']}"
                                                             title="#{bundle['searchresults.newSearchButton.title']}"
                                                             styleClass="button cursor"/>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid width="90"/>
                                    <h:panelGrid>
                                        <c:if test="${controller.inventoryCount > 10}">
                                            <c:if test="${controller.first + 10 le controller.inventoryCount}">
                                                <h:outputLabel id="recordsTop1" value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.first + 10}"/>
                                            </c:if>
                                            <c:if test="${controller.first + 10 ge controller.inventoryCount}">
                                                <h:outputLabel id="recordsTop2" value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.inventoryCount}"/>
                                            </c:if>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid width="50"/>
                                    <h:panelGrid>
                                        <c:if test="${controller.inventoryCount > 10}">
                                            <c:if test="${controller.first ge 10}">
                                                <h:commandLink id="prevTop" action="#{controller.doActionPrevBooks}" value="#{bundle['searchresults.linkPrev.value']}" title="#{bundle['searchresults.linkPrev.title']}" styleClass="link"/>
                                            </c:if>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid>
                                        <c:if test="${controller.inventoryCount > 10}">
                                            <c:if test="${controller.first + 10 le controller.inventoryCount}">
                                                <h:commandLink id="nextTop" action="#{controller.doActionNextBooks}" value="#{bundle['searchresults.linkNext.value']}" title="#{bundle['searchresults.linkNext.title']}" styleClass="link"/>
                                            </c:if>
                                        </c:if>
                                    </h:panelGrid>
                                </h:panelGrid>
                                <h:dataTable id="invTable" value="#{controller.booksModel}" var="inventory"
                                             first="#{controller.first}" rows="#{10}">
                                    <h:column>
                                        <h:panelGrid cellpadding="2" cellspacing="2" width="600" styleClass="bookTable">
                                            <br/><br/><br/>
                                            <h:panelGrid columns="3">
                                                <h:panelGrid width="40"/>
                                                <h:panelGrid width="250">
                                                    <h:panelGrid width="230" styleClass="description">
                                                        <h:outputText id="AUTHOR" value="#{inventory.CARD_AUTHOR}"
                                                                      title="#{inventory.CARD_AUTHOR}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid width="230" styleClass="description">
                                                        <h:outputText id="BASIC_DESCRIPTION" value="#{inventory.BASIC_DESCRIPTION}"
                                                                      title="#{inventory.BASIC_DESCRIPTION}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid width="230" styleClass="description">
                                                        <h:outputText id="NOTE" value="#{inventory.NOTE}"
                                                                      title="#{inventory.NOTE}"/>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                                <h:panelGrid width="250">
                                                    <h:panelGrid width="230">
                                                        <h:outputText id="CARD_AUTHOR" value="#{inventory.CARD_AUTHOR}"
                                                                      title="#{inventory.CARD_AUTHOR}"/>
                                                    </h:panelGrid>
                                                    <br/><br/><br/><br/>
                                                    <h:panelGrid width="230" styleClass="panel">
                                                        <h:commandLink id="detailsLink" action="#{controller.detailsNewBook}"
                                                                       styleClass="link columnHeader">
                                                            <h:outputText id="HEADING" value="#{inventory.HEADING}"
                                                                          title="#{inventory.HEADING}"/>
                                                        </h:commandLink>
                                                    </h:panelGrid>
                                                    <br/><br/><br/><br/>
                                                    <h:panelGrid width="230">
                                                        <h:outputText id="HEADING_E" value="#{inventory.HEADING_E}"
                                                                      title="#{inventory.HEADING_E}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid width="230">
                                                        <h:outputText id="PUB_INF" value="#{inventory.PUB_INF}"
                                                                      title="#{inventory.PUB_INF}"/>
                                                    </h:panelGrid>
                                                    <br/><br/><br/><br/><br/><br/>
                                                    <h:panelGrid columns="2" width="230">
                                                        <h:outputText id="PUB_NAME" value="#{inventory.PUB_NAME}"
                                                                      title="#{inventory.PUB_NAME}"/>
                                                        <h:outputText id="PUB_DATE" value="#{inventory.PUB_DATE}"
                                                                      title="#{inventory.PUB_DATE}"/>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                            <br/><br/><br/>
                                        </h:panelGrid>
                                    </h:column>
                                </h:dataTable>
                                <h:panelGrid id="menuBottom" columns="6">
                                    <h:panelGrid>
                                        <h:commandButton id="newSearchButtonBottom" action="#{controller.newSearch}"
                                                         value="#{bundle['searchresults.newSearchButton.value']}"
                                                         title="#{bundle['searchresults.newSearchButton.title']}"
                                                         styleClass="button cursor"/>
                                    </h:panelGrid>
                                    <h:panelGrid width="90"/>
                                    <h:panelGrid>
                                        <c:if test="${controller.inventoryCount > 10}">
                                            <c:if test="${controller.first + 10 le controller.inventoryCount}">
                                                <h:outputLabel id="recordsBottom1" value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.first + 10}"/>
                                            </c:if>
                                            <c:if test="${controller.first + 10 ge controller.inventoryCount}">
                                                <h:outputLabel id="recordsBottom2" value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.inventoryCount}"/>
                                            </c:if>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid width="50"/>
                                    <h:panelGrid>
                                        <c:if test="${controller.inventoryCount > 10}">
                                            <c:if test="${controller.first ge 10}">
                                                <h:commandLink id="prevBottom" action="#{controller.doActionPrevBooks}" value="#{bundle['searchresults.linkPrev.value']}" title="#{bundle['searchresults.linkPrev.title']}" styleClass="link"/>
                                            </c:if>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid>
                                        <c:if test="${controller.inventoryCount > 10}">
                                            <c:if test="${controller.first + 10 le controller.inventoryCount}">
                                                <h:commandLink id="nextBottom" action="#{controller.doActionNextBooks}" value="#{bundle['searchresults.linkNext.value']}" title="#{bundle['searchresults.linkNext.title']}" styleClass="link"/>
                                            </c:if>
                                        </c:if>
                                    </h:panelGrid>
                                </h:panelGrid>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>