<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 8/21/12
  Time: 10:10 AM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:composition template="/printable.xhtml">
        <ui:define name="pageTitle">
            <h:outputText value="#{bundle['global.appTtitle']} - #{bundle['volumes.labelPage']}"/>
        </ui:define>
        <ui:define name="content">
            <table align="center">
                <tbody>
                    <tr>
                        <td align="center">
                            <h:panelGrid>
                                <h:outputLabel id="labelApp" value="#{bundle['global.appLabel']}" styleClass="appLabel"/>
                            </h:panelGrid>
                            <h:panelGrid>
                                <h:outputLabel value="#{bundle['volumes.labelPage']}" styleClass="pageLabel"/>
                            </h:panelGrid>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center">
                <tbody>
                    <tr>
                        <td>
                            <h:dataTable id="cardTable" value="#{controller.cardModel}" var="inventory">
                                <h:column>
                                    <h:panelGrid cellpadding="2" cellspacing="2" width="700" styleClass="invTable">
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90">
                                                <h:outputText id="PRESS_MARK" value="#{inventory.PRESS_MARK}"
                                                              title="#{inventory.PRESS_MARK}"/>
                                            </h:panelGrid>
                                            <h:panelGrid>
                                                <h:outputText id="CARD_AUTHOR" value="#{inventory.CARD_AUTHOR}"
                                                              title="#{inventory.CARD_AUTHOR}"/>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90">
                                                <h:outputText id="AUTHR_SIGN" value="#{inventory.AUTHR_SIGN}"
                                                              title="#{inventory.AUTHR_SIGN}"/>
                                            </h:panelGrid>
                                            <h:panelGrid>
                                                <h:outputText id="BASIC_DESCRIPTION" value="#{inventory.BASIC_DESCRIPTION}"
                                                              title="#{inventory.BASIC_DESCRIPTION}"/>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90"/>
                                            <h:panelGrid columns="2">
                                                <h:panelGrid width="400"/>
                                                <h:panelGrid>
                                                    <h:outputText id="KEEP_CODE" value="#{inventory.KEEP_CODE}"
                                                                  title="#{inventory.KEEP_CODE}"/>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90"/>
                                            <h:panelGrid columns="4">
                                                <h:panelGrid>
                                                    <h:graphicImage value="#{inventory.imageURL}"
                                                                    title="#{inventory.resource}"/>
                                                </h:panelGrid>
                                                <h:panelGrid>
                                                    <h:outputText id="resource" value="#{inventory.resource}"
                                                                  title="#{inventory.resource}" styleClass="link"/>
                                                </h:panelGrid>
                                                <h:panelGrid width="50"/>
                                                <h:panelGrid>
                                                    <c:if test="${inventory.ELECTR_RES != 0}">
                                                        <h:outputText id="ftpText" value="#{inventory.ELECTR_RES}"
                                                                      title="#{inventory.ELECTR_RES}"/>
                                                    </c:if>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </h:panelGrid>
                                </h:column>
                            </h:dataTable>
                            <h:panelGrid id="menuFound" columns="3">
                                <h:panelGrid>
                                    <c:if test="${controller.volumesCount != 0}">
                                        <h:outputText id="found"
                                                      value="#{bundle['volumes.labelFound']} #{controller.volumesCount}"/>
                                    </c:if>
                                    <c:if test="${controller.volumesCount == 0}">
                                        <h:outputText id="notFound" value="#{bundle['volumes.labelNotFound']}"/>
                                    </c:if>
                                </h:panelGrid>
                                <h:panelGrid width="400"/>
                                <h:panelGrid>
                                    <c:if test="${controller.volumesCount > 10}">
                                        <c:if test="${controller.first + controller.rows le controller.volumesCount}">
                                            <h:outputLabel id="recordsTop1"
                                                           value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.first + controller.rows}"/>
                                        </c:if>
                                        <c:if test="${controller.first + controller.rows ge controller.volumesCount}">
                                            <h:outputLabel id="recordsTop2"
                                                           value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.volumesCount}"/>
                                        </c:if>
                                    </c:if>
                                </h:panelGrid>
                            </h:panelGrid>
                            <h:dataTable id="invTable" value="#{controller.volumesModel}" var="inventory"
                                         first="#{controller.first}" rows="#{controller.rows}">
                                <h:column>
                                    <h:panelGrid cellpadding="2" cellspacing="2" width="700" styleClass="invTable">
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90">
                                                <h:outputText id="PRESS_MARK" value="#{inventory.PRESS_MARK}"
                                                              title="#{inventory.PRESS_MARK}"/>
                                            </h:panelGrid>
                                            <h:panelGrid>
                                                <h:outputText id="CARD_AUTHOR" value="#{inventory.CARD_AUTHOR}"
                                                              title="#{inventory.CARD_AUTHOR}"/>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90">
                                                <h:outputText id="AUTHR_SIGN" value="#{inventory.AUTHR_SIGN}"
                                                              title="#{inventory.AUTHR_SIGN}"/>
                                            </h:panelGrid>
                                            <h:panelGrid>
                                                <h:outputText id="BASIC_DESCRIPTION" value="#{inventory.BASIC_DESCRIPTION}"
                                                              title="#{inventory.BASIC_DESCRIPTION}"/>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90"/>
                                            <h:panelGrid columns="2">
                                                <h:panelGrid width="400"/>
                                                <h:panelGrid>
                                                    <h:outputText id="KEEP_CODE" value="#{inventory.KEEP_CODE}"
                                                                  title="#{inventory.KEEP_CODE}"/>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90"/>
                                            <h:panelGrid columns="4">
                                                <h:panelGrid>
                                                    <h:graphicImage value="#{inventory.imageURL}"
                                                                    title="#{inventory.resource}"/>
                                                </h:panelGrid>
                                                <h:panelGrid>
                                                    <h:outputText id="resource" value="#{inventory.resource}"
                                                                  title="#{inventory.resource}" styleClass="link"/>
                                                </h:panelGrid>
                                                <h:panelGrid width="50"/>
                                                <h:panelGrid columns="2">
                                                    <h:graphicImage id="attachment" url="#{inventory.imageFTP}"
                                                                    title="#{inventory.ELECTR_RES}"
                                                                    alt="#{inventory.ELECTR_RES}"/>
                                                    <h:outputLink id="ftpLink" value="#{inventory.ELECTR_RES}"
                                                                  styleClass="link">
                                                        <h:outputText id="ftpText"
                                                                      value="#{inventory.ELECTR_RES}"
                                                                      title="#{inventory.ELECTR_RES}"/>
                                                    </h:outputLink>
                                                    <h:graphicImage id="repository" url="#{inventory.imageFTP}"
                                                                    title="#{inventory.REPO_RES}"
                                                                    alt="#{inventory.REPO_RES}"/>
                                                    <h:outputLink id="httpLink" value="#{inventory.REPO_RES}"
                                                                  styleClass="link">
                                                        <h:outputText id="httpText"
                                                                      value="#{inventory.REPO_RES}"
                                                                      title="#{inventory.REPO_RES}"/>
                                                    </h:outputLink>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </h:panelGrid>
                                </h:column>
                            </h:dataTable>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ui:define>
    </ui:composition>

</html>