<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 7/3/12
  Time: 12:30 PM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:composition template="/printable.xhtml">
        <ui:define name="pageTitle">
            <h:outputText value="#{bundle['global.appTtitle']} - #{bundle['searchresults.labelPage']}"/>
        </ui:define>
        <ui:define name="content">
            <table align="center">
                <tbody>
                    <tr>
                        <td align="center">
                            <h:panelGrid>
                                <h:outputLabel id="labelApp" value="#{bundle['global.appLabel']}" styleClass="appLabel"/>
                            </h:panelGrid>
                            <h:panelGrid>
                                <h:outputLabel id="labelPage" value="#{bundle['searchresults.labelPage']}" styleClass="pageLabel"/>
                            </h:panelGrid>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center">
                <tbody>
                    <tr>
                        <td>
                            <h:panelGrid id="menuResults" columns="2">
                                <h:panelGrid>
                                    <h:outputLabel id="labelQuery" value="#{bundle['searchresults.labelQuery']}"/>
                                </h:panelGrid>
                                <h:panelGrid>
                                    <c:if test="${controller.showQueryBySubject == 'true'}">
                                        <h:outputText id="queryBySubject" value="#{bundle['searchresults.queryBySubject.value']} - #{controller.searchSubject}"/>
                                    </c:if>
                                    <c:if test="${controller.showQueryByKeyword == 'true'}">
                                        <h:outputText id="queryByKeyword" value="#{bundle['searchresults.queryByKeyword.value']} - #{controller.searchKeyword}"/>
                                    </c:if>
                                    <c:if test="${controller.showQueryByTitle == 'true'}">
                                        <h:outputText id="queryByTitle" value="#{bundle['searchresults.queryByTitle.value']} - #{controller.searchTitle}"/>
                                    </c:if>
                                    <c:if test="${controller.showQueryByAuthor == 'true'}">
                                        <h:outputText id="queryByAuthor" value="#{bundle['searchresults.queryByAuthor.value']} - #{controller.searchAuthor}"/>
                                    </c:if>
                                    <c:if test="${controller.showQueryByPubLoc == 'true'}">
                                        <h:outputText id="queryByPubLoc" value="#{bundle['searchresults.queryByPubLoc.value']} - #{controller.searchPubLoc}"/>
                                    </c:if>
                                    <c:if test="${controller.showQueryByPubHouse == 'true'}">
                                        <h:outputText id="queryByPubHouse" value="#{bundle['searchresults.queryByPubHouse.value']} - #{controller.searchPubHouse}"/>
                                    </c:if>
                                    <c:if test="${controller.showQueryByPubDate == 'true'}">
                                        <h:outputText id="queryByPubDate" value="#{bundle['searchresults.queryByPubDate.value']} - #{controller.searchPubDate}"/>
                                    </c:if>
                                    <c:if test="${controller.showQueryByISXN == 'true'}">
                                        <h:outputText id="queryByISXN" value="#{bundle['searchresults.queryByISXN.value']} - #{controller.searchISXN}"/>
                                    </c:if>
                                    <c:if test="${controller.showQueryByUDDK == 'true'}">
                                        <h:outputText id="queryByUDDK" value="#{bundle['searchresults.queryByUDDK.value']} - #{controller.searchUDDK}"/>
                                    </c:if>
                                    <c:if test="${controller.showQueryByOTHK == 'true'}">
                                        <h:outputText id="queryByOTHK" value="#{bundle['searchresults.queryByOTHK.value']} - #{controller.searchOTHK}"/>
                                    </c:if>
                                    <c:if test="${controller.showQueryByInvNum == 'true'}">
                                        <h:outputText id="queryByInvNum" value="#{bundle['searchresults.queryByInvNum.value']} - #{controller.searchInvNum}"/>
                                    </c:if>
                                    <c:if test="${controller.showQueryByCodeStore == 'true'}">
                                        <h:outputText id="queryByCodeStore" value="#{bundle['searchresults.queryByCodeStore.value']} - #{controller.searchCodeStore}"/>
                                    </c:if>
                                </h:panelGrid>
                            </h:panelGrid>
                            <h:panelGrid id="menuFound" columns="3">
                                <h:panelGrid>
                                    <c:if test="${controller.inventoryCount != 0}">
                                        <h:outputLabel id="labelFound" value="#{bundle['searchresults.labelFound']} #{controller.inventoryCount}"/>
                                    </c:if>
                                    <c:if test="${controller.inventoryCount == 0}">
                                        <h:outputLabel id="labelNotFound" value="#{bundle['searchresults.labelNotFound']}"/>
                                    </c:if>
                                </h:panelGrid>
                                <h:panelGrid width="400"/>
                                <h:panelGrid>
                                    <c:if test="${controller.inventoryCount > 10}">
                                        <c:if test="${controller.first + controller.rows le controller.inventoryCount}">
                                            <h:outputLabel id="recordsTop1" value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.first + controller.rows}"/>
                                        </c:if>
                                        <c:if test="${controller.first + controller.rows ge controller.inventoryCount}">
                                            <h:outputLabel id="recordsTop2" value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.inventoryCount}"/>
                                        </c:if>
                                    </c:if>
                                </h:panelGrid>
                            </h:panelGrid>
                            <h:dataTable id="invTable" value="#{controller.booksModel}" var="inventory" first="#{controller.first}" rows="#{controller.rows}">
                                <h:column>
                                    <h:panelGrid cellpadding="2" cellspacing="2" width="700" styleClass="invTable">
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90">
                                                <h:outputText id="PRESS_MARK" value="#{inventory.PRESS_MARK}" title="#{inventory.PRESS_MARK}"/>
                                            </h:panelGrid>
                                            <h:panelGrid>
                                                <h:outputText id="CARD_AUTHOR" value="#{inventory.CARD_AUTHOR}" title="#{inventory.CARD_AUTHOR}"/>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90">
                                                <h:outputText id="AUTHR_SIGN" value="#{inventory.AUTHR_SIGN}" title="#{inventory.AUTHR_SIGN}"/>
                                            </h:panelGrid>
                                            <h:panelGrid>
                                                <h:outputText id="BASIC_DESCRIPTION" value="#{inventory.BASIC_DESCRIPTION}" title="#{inventory.BASIC_DESCRIPTION}"/>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90"/>
                                            <h:panelGrid columns="2">
                                                <h:panelGrid width="400"/>
                                                <h:panelGrid>
                                                    <h:outputText id="KEEP_CODE" value="#{inventory.KEEP_CODE}" title="#{inventory.KEEP_CODE}"/>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="90"/>
                                            <h:panelGrid columns="4">
                                                <h:panelGrid>
                                                    <h:graphicImage value="#{inventory.imageURL}" title="#{inventory.resource}"/>
                                                </h:panelGrid>
                                                <h:panelGrid>
                                                    <h:outputText id="resource" value="#{inventory.resource}" title="#{inventory.resource}" styleClass="link"/>
                                                </h:panelGrid>
                                                <h:panelGrid width="50"/>
                                                <h:panelGrid columns="2">
                                                    <h:graphicImage id="attachment" url="#{inventory.imageFTP}"
                                                                    title="#{inventory.ELECTR_RES}"
                                                                    alt="#{inventory.ELECTR_RES}"/>
                                                    <h:outputLink id="ftpLink" value="#{inventory.ELECTR_RES}"
                                                                  styleClass="link">
                                                        <h:outputText id="ftpText"
                                                                      value="#{inventory.ELECTR_RES}"
                                                                      title="#{inventory.ELECTR_RES}"/>
                                                    </h:outputLink>
                                                    <h:graphicImage id="repository" url="#{inventory.imageFTP}"
                                                                    title="#{inventory.REPO_RES}"
                                                                    alt="#{inventory.REPO_RES}"/>
                                                    <h:outputLink id="httpLink" value="#{inventory.REPO_RES}"
                                                                  styleClass="link">
                                                        <h:outputText id="httpText"
                                                                      value="#{inventory.REPO_RES}"
                                                                      title="#{inventory.REPO_RES}"/>
                                                    </h:outputLink>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </h:panelGrid>
                                </h:column>
                            </h:dataTable>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ui:define>
    </ui:composition>

</html>