<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 8/20/12
  Time: 2:45 PM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/printable.xhtml">
        <ui:define name="pageTitle">
            <h:outputText value="#{bundle['global.appTtitle']} - #{bundle['newbooks.labelPage']}"/>
        </ui:define>
        <ui:define name="content">
            <table align="center">
                <tbody>
                    <tr>
                        <td align="center">
                            <h:panelGrid>
                                <h:outputLabel id="labelApp" value="#{bundle['global.appLabel']}" styleClass="appLabel"/>
                            </h:panelGrid>
                            <h:panelGrid>
                                <h:outputLabel id="labelPage" value="#{bundle['newbooks.labelPage']}" styleClass="pageLabel"/>
                            </h:panelGrid>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center">
                <tbody>
                    <tr>
                        <td>
                            <h:panelGrid id="menuResults">
                                <h:panelGrid>
                                    <h:outputFormat id="query" value="#{bundle['news.period']}">
                                        <f:param name="0" value="#{fconfig.dateFrom}"></f:param>
                                        <f:param name="1" value="#{fconfig.dateTo}"></f:param>
                                    </h:outputFormat>
                                </h:panelGrid>
                            </h:panelGrid>
                            <h:panelGrid id="menuFound" columns="3">
                                <h:panelGrid>
                                    <c:if test="${controller.inventoryCount != 0}">
                                        <h:outputText id="found"
                                                      value="#{bundle['newbooks.labelFound']} #{controller.inventoryCount}"/>
                                    </c:if>
                                    <c:if test="${controller.inventoryCount == 0}">
                                        <h:outputFormat id="notFound" value="#{bundle['news.notfound']}">
                                            <f:param name="0" value="#{fconfig.dateFrom}"></f:param>
                                            <f:param name="1" value="#{fconfig.dateTo}"></f:param>
                                        </h:outputFormat>
                                    </c:if>
                                </h:panelGrid>
                                <h:panelGrid width="400"/>
                                <h:panelGrid>
                                    <c:if test="${controller.inventoryCount > 10}">
                                        <c:if test="${controller.first + 10 le controller.inventoryCount}">
                                            <h:outputLabel id="recordsTop1"
                                                           value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.first + 10}"/>
                                        </c:if>
                                        <c:if test="${controller.first + 10 ge controller.inventoryCount}">
                                            <h:outputLabel id="recordsTop2"
                                                           value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.inventoryCount}"/>
                                        </c:if>
                                    </c:if>
                                </h:panelGrid>
                            </h:panelGrid>
                            <h:dataTable id="invTable" value="#{controller.booksModel}" var="inventory"
                                         first="#{controller.first}" rows="#{10}">
                                <h:column>
                                    <h:panelGrid cellpadding="2" cellspacing="2" width="700" styleClass="invTable">
                                        <h:panelGrid>
                                            <h:outputText id="AUTHOR" value="#{inventory.CARD_AUTHOR}"
                                                          title="#{inventory.CARD_AUTHOR}"/>
                                        </h:panelGrid>
                                        <h:panelGrid>
                                            <h:outputText id="BASIC_DESCRIPTION" value="#{inventory.BASIC_DESCRIPTION}"
                                                          title="#{inventory.BASIC_DESCRIPTION}"/>
                                        </h:panelGrid>
                                        <h:panelGrid styleClass="description">
                                            <h:outputText id="NOTE" value="#{inventory.NOTE}" title="#{inventory.NOTE}"/>
                                        </h:panelGrid>
                                    </h:panelGrid>
                                </h:column>
                            </h:dataTable>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ui:define>
    </ui:composition>

</html>