<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 8/22/12
  Time: 11:04 AM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:composition template="/printable.xhtml">
        <ui:define name="pageTitle">
            <h:outputText value="#{bundle['global.appTtitle']} - #{bundle['inventory.labelPage']}"/>
        </ui:define>
        <ui:define name="content">
            <table align="center">
                <tbody>
                    <tr>
                        <td align="center">
                            <h:panelGrid>
                                <h:outputLabel id="labelApp" value="#{bundle['global.appLabel']}" styleClass="appLabel"/>
                            </h:panelGrid>
                            <h:panelGrid>
                                <h:outputLabel value="#{bundle['inventory.labelPage']}" styleClass="pageLabel"/>
                            </h:panelGrid>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center">
                <tbody>
                    <tr>
                        <td>
                            <h:dataTable id="cardTable" value="#{controller.cardModel}" var="inventory" cellpadding="2"
                                         cellspacing="2" width="700" styleClass="invTable">
                                <h:column>
                                    <h:panelGrid columns="2">
                                        <h:panelGrid width="90">
                                            <h:outputText id="PRESS_MARK" value="#{inventory.PRESS_MARK}"
                                                          title="#{inventory.PRESS_MARK}"/>
                                        </h:panelGrid>
                                        <h:panelGrid>
                                            <h:outputText id="CARD_AUTHOR" value="#{inventory.CARD_AUTHOR}"
                                                          title="#{inventory.CARD_AUTHOR}"/>
                                        </h:panelGrid>
                                    </h:panelGrid>
                                    <h:panelGrid columns="2">
                                        <h:panelGrid width="90">
                                            <h:outputText id="AUTHR_SIGN" value="#{inventory.AUTHR_SIGN}"
                                                          title="#{inventory.AUTHR_SIGN}"/>
                                        </h:panelGrid>
                                        <h:panelGrid>
                                            <h:outputText id="BASIC_DESCRIPTION" value="#{inventory.BASIC_DESCRIPTION}"
                                                          title="#{inventory.BASIC_DESCRIPTION}"/>
                                        </h:panelGrid>
                                    </h:panelGrid>
                                    <h:panelGrid columns="2">
                                        <h:panelGrid width="90"/>
                                        <h:panelGrid columns="2">
                                            <h:panelGrid width="400"/>
                                            <h:panelGrid>
                                                <h:outputText id="KEEP_CODE" value="#{inventory.KEEP_CODE}"
                                                              title="#{inventory.KEEP_CODE}"/>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </h:panelGrid>
                                    <h:panelGrid columns="2">
                                        <h:panelGrid width="90"/>
                                        <h:panelGrid columns="4">
                                            <h:panelGrid>
                                                <h:graphicImage value="#{inventory.imageURL}" title="#{inventory.resource}"/>
                                            </h:panelGrid>
                                            <h:panelGrid>
                                                <h:column>
                                                    <h:outputText id="resource" value="#{inventory.resource}"
                                                                  title="#{inventory.resource}"/>
                                                </h:column>
                                            </h:panelGrid>
                                            <h:panelGrid width="50"/>
                                            <h:panelGrid columns="2">
                                                <h:graphicImage id="attachment" url="#{inventory.imageFTP}"
                                                                title="#{inventory.ELECTR_RES}"
                                                                alt="#{inventory.ELECTR_RES}"/>
                                                <h:outputLink id="ftpLink" value="#{inventory.ELECTR_RES}"
                                                              styleClass="link">
                                                    <h:outputText id="ftpText"
                                                                  value="#{inventory.ELECTR_RES}"
                                                                  title="#{inventory.ELECTR_RES}"/>
                                                </h:outputLink>
                                                <h:graphicImage id="repository" url="#{inventory.imageFTP}"
                                                                title="#{inventory.REPO_RES}"
                                                                alt="#{inventory.REPO_RES}"/>
                                                <h:outputLink id="httpLink" value="#{inventory.REPO_RES}"
                                                              styleClass="link">
                                                    <h:outputText id="httpText"
                                                                  value="#{inventory.REPO_RES}"
                                                                  title="#{inventory.REPO_RES}"/>
                                                </h:outputLink>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </h:panelGrid>
                                </h:column>
                            </h:dataTable>
                            <br/>
                            <h:dataTable id="invTable" value="#{controller.copiesModel}" var="inventory" cellpadding="2"
                                         cellspacing="2" width="700" styleClass="invTable">
                                <h:column headerClass="columnHeader">
                                    <f:facet name="header">
                                        <h:outputLabel value="#{bundle['inventory.labelINVNUM.value']}"
                                                       title="#{bundle['inventory.labelINVNUM.title']}"/>
                                    </f:facet>
                                    <h:panelGrid>
                                        <h:outputText id="INVNUM" value="#{inventory.stringINVNUM}"
                                                      title="#{inventory.stringINVNUM}"/>
                                    </h:panelGrid>
                                </h:column>
                                <h:column headerClass="columnHeader">
                                    <f:facet name="header">
                                        <h:outputLabel value="#{bundle['inventory.labelPRESS_MARK.value']}"
                                                       title="#{bundle['inventory.labelPRESS_MARK.title']}"/>
                                    </f:facet>
                                    <h:panelGrid>
                                        <h:outputText id="PRESS_MARK" value="#{inventory.PRESS_MARK}"
                                                      title="#{inventory.PRESS_MARK}"/>
                                    </h:panelGrid>
                                </h:column>
                                <h:column headerClass="columnHeader">
                                    <f:facet name="header">
                                        <h:outputLabel value="#{bundle['inventory.labelKEEP_CODE.value']}"
                                                       title="#{bundle['inventory.labelKEEP_CODE.title']}"/>
                                    </f:facet>
                                    <h:panelGrid>
                                        <h:outputText id="KEEP_CODE" value="#{inventory.KEEP_CODE}"
                                                      title="#{inventory.KEEP_CODE}"/>
                                    </h:panelGrid>
                                </h:column>
                                <h:column headerClass="columnHeader">
                                    <f:facet name="header">
                                        <h:outputLabel value="#{bundle['inventory.labelAUTHR_SIGN.value']}"
                                                       title="#{bundle['inventory.labelAUTHR_SIGN.title']}"/>
                                    </f:facet>
                                    <h:panelGrid>
                                        <h:outputText id="AUTHR_SIGN" value="#{inventory.AUTHR_SIGN}"
                                                      title="#{inventory.AUTHR_SIGN}"/>
                                    </h:panelGrid>
                                </h:column>
                                <h:column headerClass="columnHeader">
                                    <f:facet name="header">
                                        <h:outputLabel value="#{bundle['inventory.labelSIGLA.value']}"
                                                       title="#{bundle['inventory.labelSIGLA.title']}"/>
                                    </f:facet>
                                    <h:panelGrid>
                                        <h:outputText id="SIGLA" value="#{inventory.SIGLA}" title="#{inventory.SIGLA}"/>
                                    </h:panelGrid>
                                </h:column>
                            </h:dataTable>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ui:define>
    </ui:composition>

</html>