<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 7/2/12
  Time: 9:58 AM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="author" content="#{bundle['global.appAuthor']}"/>
        <meta name="description" content="#{bundle['global.appDescription']}"/>
        <meta name="keywords" content="#{bundle['global.appKeywords']}"/>
        <link rel="stylesheet" title="Unilib Style Sheet" href="style/default.css" type="text/css"/>
        <link rel="icon" href="images/catalogue.ico" type="image/x-icon"/>
        <link rel="alternate" href="news/rss.xml" type="application/rss+xml" title="rss"/>
        <title>
            <ui:insert name="pageTitle"/>
        </title>
    </h:head>

    <h:body>
        <table width="100%">
            <tbody>
                <tr>
                    <td align="center">
                        <ui:insert name="content"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </h:body>

</html>