<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 8/22/12
  Time: 9:23 AM
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/printable.xhtml">
<ui:define name="pageTitle">
    <h:outputText value="#{bundle['global.appTtitle']} - #{bundle['details.labelPage']}"/>
</ui:define>
<ui:define name="content">
<table align="center">
    <tbody>
    <tr>
        <td align="center">
            <h:panelGrid>
                <h:outputLabel id="labelApp" value="#{bundle['global.appLabel']}" styleClass="appLabel"/>
            </h:panelGrid>
            <h:panelGrid>
                <h:outputLabel value="#{bundle['details.labelPage']}" styleClass="pageLabel"/>
            </h:panelGrid>
        </td>
    </tr>
    </tbody>
</table>
<table align="center">
<tbody>
<tr>
<td>
<h:dataTable id="detailsTable" value="#{controller.bookModel}" var="inventory">
<h:column>
<h:panelGrid id="status" cellpadding="2" cellspacing="2" width="700" styleClass="invTable">
    <h:panelGrid columns="2">
        <h:panelGrid>
            <h:graphicImage value="#{inventory.imageURL}" title="#{inventory.resource}"/>
        </h:panelGrid>
        <h:panelGrid>
            <h:outputLabel value="#{inventory.resource}" title="#{inventory.resource}" styleClass="hLabel"/>
        </h:panelGrid>
    </h:panelGrid>
</h:panelGrid>
<br/>
<h:panelGrid id="description" cellpadding="2" cellspacing="2" width="700" styleClass="invTable">
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label010.value']}" title="#{bundle['details.label010.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelISBN.value']}" title="#{bundle['details.labelISBN.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="ISBN" value="#{inventory.ISBN}" title="#{inventory.ISBN}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label011.value']}" title="#{bundle['details.label011.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelISSN.value']}" title="#{bundle['details.labelISSN.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="ISSN" value="#{inventory.ISSN}" title="#{inventory.ISSN}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label675.value']}" title="#{bundle['details.label675.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelUDDK.value']}" title="#{bundle['details.labelUDDK.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="UDDK" value="#{inventory.UDDK}" title="#{inventory.UDDK}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label686.value']}" title="#{bundle['details.label686.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelOTHK.value']}" title="#{bundle['details.labelOTHK.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="OTHK" value="#{inventory.OTHK}" title="#{inventory.OTHK}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label700.value']}" title="#{bundle['details.label700.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelAUTHOR.value']}" title="#{bundle['details.labelAUTHOR.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="AUTHOR" value="#{inventory.AUTHOR}" title="#{inventory.AUTHOR}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label701.value']}" title="#{bundle['details.label701.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelAUTHORS.value']}" title="#{bundle['details.labelAUTHORS.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="AUTHORS" value="#{inventory.AUTHORS}" title="#{inventory.AUTHORS}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label200.value']}" title="#{bundle['details.label200.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelHEADING.value']}" title="#{bundle['details.labelHEADING.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="HEADING" value="#{inventory.HEADING}" title="#{inventory.HEADING}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label205.value']}" title="#{bundle['details.label205.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelPUB_INF.value']}" title="#{bundle['details.labelPUB_INF.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="PUB_INF" value="#{inventory.PUB_INF}" title="#{inventory.PUB_INF}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label210a.value']}" title="#{bundle['details.label210a.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelPUB_LOCATION.value']}"
                       title="#{bundle['details.labelPUB_LOCATION.title']}" styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="PUB_LOCATION"
                      value="#{inventory.PUB_LOCATION}"
                      title="#{inventory.PUB_LOCATION}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label210c.value']}" title="#{bundle['details.label210c.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelPUB_NAME.value']}" title="#{bundle['details.labelPUB_NAME.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="PUB_NAME" value="#{inventory.PUB_NAME}" title="#{inventory.PUB_NAME}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label210d.value']}" title="#{bundle['details.label210d.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelPUB_DATE.value']}" title="#{bundle['details.labelPUB_DATE.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="PUB_DATE" value="#{inventory.PUB_DATE}" title="#{inventory.PUB_DATE}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label215.value']}" title="#{bundle['details.label215.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelVOLUMES.value']}" title="#{bundle['details.labelVOLUMES.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="VOLUMES" value="#{inventory.VOLUMES}" title="#{inventory.VOLUMES}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label225.value']}" title="#{bundle['details.label225.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelSERIES.value']}" title="#{bundle['details.labelSERIES.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="SERIES" value="#{inventory.SERIES}" title="#{inventory.SERIES}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
<h:panelGrid width="50">
    <h:outputLabel value="#{bundle['details.label230.value']}" title="#{bundle['details.label230.title']}"
                   styleClass="columnHeader"/>
</h:panelGrid>
<h:panelGrid width="150">
    <h:outputLabel value="#{bundle['details.labelREPO_RES.value']}"
                   title="#{bundle['details.labelREPO_RES.title']}" styleClass="columnHeader"/>
</h:panelGrid>
<h:panelGrid columns="2">
    <h:graphicImage id="repository" url="#{inventory.imageFTP}"
                    title="#{inventory.REPO_RES}"
                    alt="#{inventory.REPO_RES}"/>
    <h:outputLink id="httpLink" value="#{inventory.REPO_RES}"
                  styleClass="link">
        <h:outputText id="httpText"
                      value="#{inventory.REPO_RES}"
                      title="#{inventory.REPO_RES}"/>
    </h:outputLink>
</h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label615.value']}" title="#{bundle['details.label615.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelSUBJ_CATEGORY.value']}"
                       title="#{bundle['details.labelSUBJ_CATEGORY.title']}" styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="SUBJ_CATEGORY" value="#{inventory.SUBJ_CATEGORY}" title="#{inventory.SUBJ_CATEGORY}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label300.value']}" title="#{bundle['details.label300.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelNOTE.value']}" title="#{bundle['details.labelNOTE.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid>
        <h:outputText id="NOTE" value="#{inventory.NOTE}" title="#{inventory.NOTE}"/>
    </h:panelGrid>
</h:panelGrid>
<h:panelGrid columns="3">
    <h:panelGrid width="50">
        <h:outputLabel value="#{bundle['details.label856.value']}" title="#{bundle['details.label856.title']}"
                       styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid width="150">
        <h:outputLabel value="#{bundle['details.labelELECTR_RES.value']}"
                       title="#{bundle['details.labelELECTR_RES.title']}" styleClass="columnHeader"/>
    </h:panelGrid>
    <h:panelGrid columns="2">
        <h:graphicImage id="attachment" url="#{inventory.imageFTP}"
                        title="#{inventory.ELECTR_RES}"
                        alt="#{inventory.ELECTR_RES}"/>
        <h:outputLink id="ftpLink" value="#{inventory.ELECTR_RES}"
                      styleClass="link">
            <h:outputText id="ftpText"
                          value="#{inventory.ELECTR_RES}"
                          title="#{inventory.ELECTR_RES}"/>
        </h:outputLink>
    </h:panelGrid>
</h:panelGrid>
</h:panelGrid>    
</h:column>
</h:dataTable>
</td>
</tr>
</tbody>
</table>
</ui:define>
</ui:composition>

</html>