<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 7/3/12
  Time: 10:25 AM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich">

    <ui:composition>
        <h:panelGrid styleClass="panel">
            <h:panelGrid styleClass="panel" style="width:100%;height:120px;">
                <h:graphicImage id="imageADILogo" url="images/adi-logo.png" alt="#{bundle['sidebar.imageADILogo.alt']}"/>
            </h:panelGrid>
            <h:outputLink value="//ec.donntu.org/MarcWeb/Work.asp?ValueDB=18467" target="_blank" styleClass="link">
                <h:outputText id="textUnilib" value="#{bundle['sidebar.textUnilib.value']}"
                              title="#{bundle['sidebar.textUnilib.title']}"/>
            </h:outputLink>
            <h:commandButton class="image googlesearch cursor">
                <rich:componentControl target="googlesearch" operation="show"/>
            </h:commandButton>
            <h:panelGrid columns="2" styleClass="panel" style="height:60px;">
                <h:outputLink value="news/rss.xml" target="_blank">
                    <h:graphicImage id="unilib_rss" url="images/rss.png"
                                    title="#{bundle['sidebar.unilib.rss.title']}"
                                    alt="rss" styleClass="image"/>
                </h:outputLink>
                <h:outputLink value="news/rss.xml" target="_blank" styleClass="link" style="padding-left:4px;">
                    <h:outputLabel id="labelRSS" value="RSS" title="#{bundle['sidebar.unilib.rss.title']}"
                                   styleClass="rss cursor"/>
                </h:outputLink>
            </h:panelGrid>
            <h:panelGrid style="height:60px;">
                <script src="http://odnaknopka.ru/ok2.js" type="text/javascript"></script>
            </h:panelGrid>
        </h:panelGrid>
        <h:panelGrid style="height:240px;"></h:panelGrid>
        <h:panelGrid styleClass="panel">
            <script type="text/javascript" src="//ra.revolvermaps.com/0/0/5.js?i=09gwnmuez14&amp;m=6&amp;s=180&amp;c=ff0000&amp;cr1=fff600" async="async"></script>
        </h:panelGrid>
        <rich:popupPanel id="googlesearch" modal="false" autosized="true" resizeable="false" height="555">
            <f:facet name="header">
                <h:outputText value="#{bundle['sidebar.labelGoogleSearch.value']}" title="#{bundle['sidebar.labelGoogleSearch.title']}" styleClass="hLabel"/>
            </f:facet>
            <f:facet name="controls">
                <h:outputLink value="#" onclick="#{rich:component('googlesearch')}.hide(); return false;">
                    <h:graphicImage url="images/remove.png" title="#{bundle['global.imageRemove.title']}"
                                    alt="#{bundle['global.imageRemove.alt']}"
                                    styleClass="cursor" height="16" width="16"/>
                </h:outputLink>
            </f:facet>
            <ui:include src="google.xhtml"/>
        </rich:popupPanel>
    </ui:composition>

</html>
