<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 7/2/12
  Time: 9:58 AM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j">

    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="author" content="#{bundle['global.appAuthor']}"/>
        <meta name="description" content="#{bundle['global.appDescription']}"/>
        <meta name="keywords" content="#{bundle['global.appKeywords']}"/>
        <script src="scripts/chat.js" type="text/javascript"></script>
        <script src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0&amp;key=ABQIAAAAvpfjWdHebag_BwPbZSKdtRQBm503GCqeYDyAV1otLNGyrxj8yRRQnbEoChgUUzN_8wkIhFqK-71piA" type="text/javascript"></script>
        <script src="bookbar/gsbookbar.js" type="text/javascript"></script>
        <script src="bookbar/loadbar.js" type="text/javascript"></script>
        <link rel="stylesheet" title="Unilib Style Sheet" href="style/default.css" type="text/css"/>
        <link rel="stylesheet" href="bookbar/gsbookbar.css" type="text/css"/>
        <link rel="stylesheet" href="bookbar/gsearch.css" type="text/css"/>
        <link rel="stylesheet" href="bookbar/verticalbar.css" type="text/css"/>
        <link rel="icon" href="images/catalogue.ico" type="image/x-icon"/>
        <link rel="alternate" href="news/rss.xml" type="application/rss+xml" title="rss"/>
        <title>
            <ui:insert name="pageTitle"/>
        </title>
        <a4j:outputPanel ajaxRendered="true">
            <script src="scripts/analytics.js" type="text/javascript"></script>
        </a4j:outputPanel>
    </h:head>

    <h:body>
        <table width="100%">
            <tbody>
                <tr>
                    <td colspan="3">
                        <div class="mobile" style="text-align:center;width:100%">
                            <h:graphicImage url="images/adi-logo.png" alt="#{bundle['sidebar.imageADILogo.alt']}"/>
                        </div>
                        <div class="desktop">
                            <ui:include src="header.xhtml"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="desktop">
                        <ui:include src="sidebar.xhtml"/>
                    </td>
                    <td valign="top">
                        <ui:insert name="content"/>
                    </td>
                    <td valign="top" class="desktop">
                        <ui:include src="bookbar.xhtml"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </h:body>

</html>