<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 8/21/12
  Time: 7:54 AM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:composition template="/template.xhtml">
        <ui:define name="pageTitle">
            <h:outputText value="#{bundle['global.appTtitle']} - #{bundle['volumes.labelPage']}"/>
        </ui:define>
        <ui:define name="content">
            <h:form id="volumes" prependId="false">
                <table align="center">
                    <tbody>
                        <tr>
                            <td align="center">
                                <h:panelGrid>
                                    <h:outputLabel id="labelApp" value="#{bundle['global.appLabel']}" styleClass="appLabel"/>
                                </h:panelGrid>
                                <h:panelGrid>
                                    <c:if test="${controller.statusBook != 6}">
                                        <h:outputLabel value="#{bundle['volumes.labelPage']}" styleClass="pageLabel"/>
                                    </c:if>
                                    <c:if test="${controller.statusBook == 6}">
                                        <h:outputLabel value="#{bundle['volumes.labelEdition']}" styleClass="pageLabel"/>
                                    </c:if>
                                </h:panelGrid>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table align="center">
                    <tbody>
                        <tr>
                            <td>
                                <h:dataTable id="cardTable" value="#{controller.cardModel}" var="inventory">
                                    <h:column>
                                        <h:panelGrid cellpadding="2" cellspacing="2" width="700" styleClass="invTable">
                                            <h:panelGrid columns="2">
                                                <h:panelGrid width="90">
                                                    <h:outputText id="PRESS_MARK" value="#{inventory.PRESS_MARK}" title="#{inventory.PRESS_MARK}"/>
                                                </h:panelGrid>
                                                <h:panelGrid>
                                                    <h:outputText id="CARD_AUTHOR" value="#{inventory.CARD_AUTHOR}"
                                                                  title="#{inventory.CARD_AUTHOR}"/>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                            <h:panelGrid columns="2">
                                                <h:panelGrid width="90">
                                                    <h:outputText id="AUTHR_SIGN" value="#{inventory.AUTHR_SIGN}" title="#{inventory.AUTHR_SIGN}"/>
                                                </h:panelGrid>
                                                <h:panelGrid>
                                                    <h:outputText id="BASIC_DESCRIPTION" value="#{inventory.BASIC_DESCRIPTION}"
                                                                  title="#{inventory.BASIC_DESCRIPTION}"/>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                            <h:panelGrid columns="2">
                                                <h:panelGrid width="90"/>
                                                <h:panelGrid columns="2">
                                                    <h:panelGrid width="400"/>
                                                    <h:panelGrid>
                                                        <h:outputText id="KEEP_CODE" value="#{inventory.KEEP_CODE}" title="#{inventory.KEEP_CODE}"/>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                            <h:panelGrid columns="2">
                                                <h:panelGrid width="90"/>
                                                <h:panelGrid columns="4">
                                                    <h:panelGrid>
                                                        <h:graphicImage value="#{inventory.imageURL}" title="#{inventory.resource}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid>
                                                        <c:if test="${controller.statusBook == 2}">
                                                            <h:commandLink id="detailsMultiVolumesLink" action="#{controller.detailsMultiVolumesBook}"
                                                                           value="#{bundle['searchresults.linkDetails.value']}"
                                                                           title="#{bundle['searchresults.linkDetails.title']}"
                                                                           styleClass="link"/>
                                                        </c:if>
                                                        <c:if test="${controller.statusBook != 2}">
                                                            <h:commandLink id="detailsSerialEditionLink" action="#{controller.detailsSerialEdition}"
                                                                           value="#{bundle['searchresults.linkDetails.value']}"
                                                                           title="#{bundle['searchresults.linkDetails.title']}"
                                                                           styleClass="link"/>
                                                        </c:if>
                                                    </h:panelGrid>
                                                    <h:panelGrid width="50"/>
                                                    <h:panelGrid columns="2">
                                                        <h:graphicImage id="attachment" url="#{inventory.imageFTP}"
                                                                        title="#{inventory.ELECTR_RES}"
                                                                        alt="#{inventory.ELECTR_RES}"/>
                                                        <h:outputLink id="ftpLink" value="#{inventory.ELECTR_RES}"
                                                                      styleClass="link">
                                                            <h:outputText id="ftpText"
                                                                          value="#{inventory.ELECTR_RES}"
                                                                          title="#{inventory.ELECTR_RES}"/>
                                                        </h:outputLink>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </h:column>
                                </h:dataTable>
                                <h:panelGrid id="menuFound" columns="5">
                                    <h:panelGrid>
                                        <c:if test="${controller.volumesCount != 0}">
                                            <c:if test="${controller.statusBook != 6}">
                                                <h:outputText value="#{bundle['volumes.labelFound']} #{controller.volumesCount}"/>
                                            </c:if>
                                            <c:if test="${controller.statusBook == 6}">
                                                <h:outputText value="#{bundle['volumes.labelArticles']} #{controller.volumesCount}"/>
                                            </c:if>
                                        </c:if>
                                        <c:if test="${controller.volumesCount == 0}">
                                            <h:outputText id="notFound" value="#{bundle['volumes.labelNotFound']}"/>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid width="330"/>
                                    <h:panelGrid>
                                        <c:if test="${controller.newBooks == false}">
                                            <h:commandLink id="searchResultsLink" action="#{controller.openSearchResults}"
                                                           value="#{bundle['inventory.searchResultsButton.value']}"
                                                           title="#{bundle['inventory.searchResultsButton.title']}"
                                                           styleClass="link"/>
                                        </c:if>
                                        <c:if test="${controller.newBooks == true}">
                                            <h:commandButton id="newBooksResultsLink" action="#{controller.openNewBooksResults}"
                                                             value="#{bundle['inventory.newBooksResultsButton.value']}"
                                                             title="#{bundle['inventory.newBooksResultsButton.title']}"
                                                             styleClass="link"/>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid width="50"/>
                                    <h:panelGrid>
                                        <c:if test="${controller.volumesCount != 0}">
                                            <h:commandLink id="printVolumes" action="#{controller.openPrintVolumes}" target="_blank">
                                                <h:graphicImage url="images/printer.png"
                                                                title="#{bundle['searchresults.imagePrint.title']}"
                                                                alt="#{bundle['searchresults.imagePrint.alt']}" styleClass="image"/>
                                            </h:commandLink>
                                        </c:if>
                                    </h:panelGrid>
                                </h:panelGrid>
                                <h:panelGrid id="menuTop" columns="6">
                                    <h:panelGrid>
                                        <c:if test="${controller.volumesCount != 0}">
                                            <h:commandButton id="newSearchButtonTop" action="#{controller.newSearch}"
                                                             value="#{bundle['searchresults.newSearchButton.value']}"
                                                             title="#{bundle['searchresults.newSearchButton.title']}"
                                                             styleClass="button cursor"/>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid width="240"/>
                                    <h:panelGrid>
                                        <c:if test="${controller.volumesCount > 10}">
                                            <c:if test="${controller.first + controller.rows le controller.volumesCount}">
                                                <h:outputLabel id="recordsTop1"
                                                               value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.first + controller.rows}"/>
                                            </c:if>
                                            <c:if test="${controller.first + controller.rows ge controller.volumesCount}">
                                                <h:outputLabel id="recordsTop2"
                                                               value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.volumesCount}"/>
                                            </c:if>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid width="50"/>
                                    <h:panelGrid>
                                        <c:if test="${controller.volumesCount > 10}">
                                            <c:if test="${controller.first ge controller.rows}">
                                                <h:commandLink id="prevTop" action="#{controller.doActionPrev}"
                                                               value="#{bundle['searchresults.linkPrev.value']}"
                                                               title="#{bundle['searchresults.linkPrev.title']}" styleClass="link"/>
                                            </c:if>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid>
                                        <c:if test="${controller.volumesCount > 10}">
                                            <c:if test="${controller.first + controller.rows le controller.volumesCount}">
                                                <h:commandLink id="nextTop" action="#{controller.doActionNext}"
                                                               value="#{bundle['searchresults.linkNext.value']}"
                                                               title="#{bundle['searchresults.linkNext.title']}" styleClass="link"/>
                                            </c:if>
                                        </c:if>
                                    </h:panelGrid>
                                </h:panelGrid>
                                <h:dataTable id="invTable" value="#{controller.volumesModel}" var="inventory" first="#{controller.first}"
                                             rows="#{controller.rows}">
                                    <h:column>
                                        <h:panelGrid cellpadding="2" cellspacing="2" width="700" styleClass="invTable">
                                            <h:panelGrid columns="2">
                                                <h:panelGrid width="90">
                                                    <h:outputText id="PRESS_MARK" value="#{inventory.PRESS_MARK}" title="#{inventory.PRESS_MARK}"/>
                                                </h:panelGrid>
                                                <h:panelGrid>
                                                    <h:outputText id="CARD_AUTHOR" value="#{inventory.CARD_AUTHOR}"
                                                                  title="#{inventory.CARD_AUTHOR}"/>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                            <h:panelGrid columns="2">
                                                <h:panelGrid width="90">
                                                    <h:outputText id="AUTHR_SIGN" value="#{inventory.AUTHR_SIGN}" title="#{inventory.AUTHR_SIGN}"/>
                                                </h:panelGrid>
                                                <h:panelGrid>
                                                    <h:outputText id="BASIC_DESCRIPTION" value="#{inventory.BASIC_DESCRIPTION}"
                                                                  title="#{inventory.BASIC_DESCRIPTION}"/>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                            <h:panelGrid columns="2">
                                                <h:panelGrid width="90"/>
                                                <h:panelGrid columns="2">
                                                    <h:panelGrid width="400"/>
                                                    <h:panelGrid>
                                                        <h:outputText id="KEEP_CODE" value="#{inventory.KEEP_CODE}" title="#{inventory.KEEP_CODE}"/>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                            <h:panelGrid columns="2">
                                                <h:panelGrid width="90"/>
                                                <h:panelGrid columns="4">
                                                    <h:panelGrid>
                                                        <h:graphicImage value="#{inventory.imageURL}" title="#{inventory.resource}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid>
                                                        <h:commandLink id="detailsVolumeLink" action="#{controller.detailsVolume}"
                                                                       value="#{bundle['searchresults.linkDetails.value']}"
                                                                       title="#{bundle['searchresults.linkDetails.title']}" styleClass="link"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid width="50"/>
                                                    <h:panelGrid columns="2">
                                                        <h:graphicImage id="attachment" url="#{inventory.imageFTP}"
                                                                        title="#{inventory.ELECTR_RES}"
                                                                        alt="#{inventory.ELECTR_RES}"/>
                                                        <h:outputLink id="ftpLink" value="#{inventory.ELECTR_RES}"
                                                                      styleClass="link">
                                                            <h:outputText id="ftpText"
                                                                          value="#{inventory.ELECTR_RES}"
                                                                          title="#{inventory.ELECTR_RES}"/>
                                                        </h:outputLink>
                                                        <h:graphicImage id="repository" url="#{inventory.imageFTP}"
                                                                        title="#{inventory.REPO_RES}"
                                                                        alt="#{inventory.REPO_RES}"/>
                                                        <h:outputLink id="httpLink" value="#{inventory.REPO_RES}"
                                                                      styleClass="link">
                                                            <h:outputText id="httpText"
                                                                          value="#{inventory.REPO_RES}"
                                                                          title="#{inventory.REPO_RES}"/>
                                                        </h:outputLink>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </h:column>
                                </h:dataTable>
                                <h:panelGrid id="menuBottom" columns="6">
                                    <h:panelGrid>
                                        <h:commandButton id="newSearchButtonBottom" action="#{controller.newSearch}"
                                                         value="#{bundle['searchresults.newSearchButton.value']}"
                                                         title="#{bundle['searchresults.newSearchButton.title']}"
                                                         styleClass="button cursor"/>
                                    </h:panelGrid>
                                    <h:panelGrid width="240"/>
                                    <h:panelGrid>
                                        <c:if test="${controller.volumesCount > 10}">
                                            <c:if test="${controller.first + controller.rows le controller.volumesCount}">
                                                <h:outputLabel id="recordsBottom1"
                                                               value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.first + controller.rows}"/>
                                            </c:if>
                                            <c:if test="${controller.first + controller.rows ge controller.volumesCount}">
                                                <h:outputLabel id="recordsBottom2"
                                                               value="#{bundle['searchresults.labelRecords.from.value']} #{controller.first + 1} #{bundle['searchresults.labelRecords.to.value']} #{controller.volumesCount}"/>
                                            </c:if>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid width="50"/>
                                    <h:panelGrid>
                                        <c:if test="${controller.volumesCount > 10}">
                                            <c:if test="${controller.first ge controller.rows}">
                                                <h:commandLink id="prevBottom" action="#{controller.doActionPrev}"
                                                               value="#{bundle['searchresults.linkPrev.value']}"
                                                               title="#{bundle['searchresults.linkPrev.title']}" styleClass="link"/>
                                            </c:if>
                                        </c:if>
                                    </h:panelGrid>
                                    <h:panelGrid>
                                        <c:if test="${controller.volumesCount > 10}">
                                            <c:if test="${controller.first + controller.rows le controller.volumesCount}">
                                                <h:commandLink id="nextBottom" action="#{controller.doActionNext}"
                                                               value="#{bundle['searchresults.linkNext.value']}"
                                                               title="#{bundle['searchresults.linkNext.title']}" styleClass="link"/>
                                            </c:if>
                                        </c:if>
                                    </h:panelGrid>
                                </h:panelGrid>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>