<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: and.ora
  Date: 7/2/12
  Time: 10:42 AM
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

    <ui:composition template="/template.xhtml">
        <ui:define name="pageTitle">
            <h:outputText value="#{bundle['global.appTtitle']} - #{bundle['welcome.labelPage']}"/>
        </ui:define>
        <ui:define name="content">
            <table border="0" cellspacing="2" cellpadding="2" width="100%">
                <tbody>
                    <tr>
                        <td valign="top">
                            <h:form id="welcome" prependId="false">
                                <table align="center">
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <h:panelGrid>
                                                    <h:outputLabel id="labelApp" value="#{bundle['global.appLabel']}" styleClass="appLabel"/>
                                                </h:panelGrid>
                                                <h:panelGrid>
                                                    <h:outputLabel id="labelPage" value="#{bundle['welcome.labelPage']}" styleClass="pageLabel"/>
                                                </h:panelGrid>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table align="center">
                                    <tr>
                                        <td style="vertical-align:top">
                                            <h:panelGrid id="query">
                                                <h:panelGrid>
                                                    <h:outputLabel id="labelQuery" value="#{bundle['welcome.labelQuery']}"
                                                                   styleClass="hLabel"/>
                                                </h:panelGrid>
                                                <h:panelGrid columns="2">
                                                    <h:panelGrid>
                                                        <h:graphicImage id="imageSearch1" url="images/search.png"
                                                                        title="#{bundle['welcome.imageSearch.title']}"
                                                                        alt="#{bundle['welcome.imageSearch.alt']}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid columns="2">
                                                        <h:panelGrid>
                                                            <h:outputLabel id="labelSearchText"
                                                                           value="#{bundle['welcome.labelSearchText.title']}" styleClass="tip"/>
                                                            <h:inputText id="searchText" value="#{controller.searchText}"
                                                                         valueChangeListener="#{controller.valueChangedSearchText}"
                                                                         title="#{bundle['welcome.searchText.title']}" maxlength="99"
                                                                         required="true" requiredMessage="!" styleClass="searchText"/>
                                                        </h:panelGrid>
                                                        <h:panelGrid width="32" style="margin-top: 18px;">
                                                            <rich:message for="searchText" showSummary="true" showDetail="false"
                                                                          title="#{bundle['welcome.messageFor.title']}"
                                                                          ajaxRendered="true"
                                                                          styleClass="alert appLabel"/>
                                                        </h:panelGrid>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                                <h:panelGrid columns="2">
                                                    <h:panelGrid>
                                                        <h:graphicImage id="imageSearch2" url="images/search.png"
                                                                        title="#{bundle['welcome.imageSearch.title']}"
                                                                        alt="#{bundle['welcome.imageSearch.alt']}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid columns="2">
                                                        <h:panelGrid>
                                                            <h:outputLabel id="labelSearchType"
                                                                           value="#{bundle['welcome.labelSearchType.title']}" styleClass="tip"/>
                                                            <h:selectOneListbox id="selectOneListbox"
                                                                                value="#{fconfig.oneChoiceSearchType}"
                                                                                valueChangeListener="#{controller.valueChangedSearchType}"
                                                                                required="true" requiredMessage="!"
                                                                                styleClass="selectOneListbox cursor">
                                                                <f:selectItems value="#{fconfig.selectsSearchType}"/>
                                                            </h:selectOneListbox>
                                                        </h:panelGrid>
                                                        <h:panelGrid width="32">
                                                            <rich:message for="selectOneListbox" showSummary="true" showDetail="false"
                                                                          title="#{bundle['welcome.messageFor.title']}"
                                                                          ajaxRendered="true"
                                                                          styleClass="alert appLabel"/>
                                                        </h:panelGrid>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </td>
                                        <td style="vertical-align:top">
                                            <h:panelGrid id="separator" width="60"/>
                                        </td>
                                        <td style="vertical-align:top">
                                            <h:panelGrid id="filter">
                                                <h:panelGrid>
                                                    <h:outputLabel id="labelFilterQuery" value="#{bundle['welcome.labelFilterQuery']}"
                                                                   styleClass="hLabel"/>
                                                </h:panelGrid>
                                                <h:panelGrid columns="2">
                                                    <h:panelGrid width="110">
                                                        <h:outputLabel id="labelSchemaResources"
                                                                       value="#{bundle['welcome.labelSchemaResources']}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid columns="2">
                                                        <h:panelGrid>
                                                            <h:selectOneMenu id="selectResource" value="#{fconfig.oneChoiceResource}"
                                                                             valueChangeListener="#{controller.valueChangedResource}"
                                                                             styleClass="selectOneMenu cursor">
                                                                <f:selectItems value="#{fconfig.selectsResource}"/>
                                                                <a4j:ajax event="valueChange" render="imageResource" execute="@this"/>
                                                            </h:selectOneMenu>
                                                        </h:panelGrid>
                                                        <h:panelGrid>
                                                            <h:graphicImage id="imageResource" url="#{requestScope.image_resource}"
                                                                            title="#{requestScope.title_resource}" alt=""/>
                                                        </h:panelGrid>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                                <h:panelGrid columns="2">
                                                    <h:panelGrid width="110">
                                                        <h:outputLabel id="labelDocument" value="#{bundle['welcome.labelDocument']}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid columns="2">
                                                        <h:panelGrid>
                                                            <h:selectOneMenu id="selectDocument" value="#{fconfig.oneChoiceDocument}"
                                                                             valueChangeListener="#{controller.valueChangedDocument}"
                                                                             styleClass="selectOneMenu cursor">
                                                                <f:selectItems value="#{fconfig.selectsDocument}"/>
                                                            </h:selectOneMenu>
                                                        </h:panelGrid>
                                                        <h:panelGrid>
                                                            <h:graphicImage id="imageDocument" url="images/blank.png" alt=""/>
                                                        </h:panelGrid>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                                <h:panelGrid columns="2">
                                                    <h:panelGrid width="110">
                                                        <h:outputLabel id="labelDocType" value="#{bundle['welcome.labelDocType']}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid columns="2">
                                                        <h:panelGrid>
                                                            <h:selectOneMenu id="selectDocType" value="#{fconfig.oneChoiceDocType}"
                                                                             valueChangeListener="#{controller.valueChangedDocType}"
                                                                             styleClass="selectOneMenu cursor">
                                                                <f:selectItems value="#{fconfig.selectsDocType}"/>
                                                            </h:selectOneMenu>
                                                        </h:panelGrid>
                                                        <h:panelGrid>
                                                            <h:graphicImage id="imageDocType" url="images/blank.png" alt=""/>
                                                        </h:panelGrid>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                                <h:panelGrid columns="2">
                                                    <h:panelGrid width="110">
                                                        <h:outputLabel id="labelDocForm" value="#{bundle['welcome.labelDocForm']}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid columns="2">
                                                        <h:panelGrid>
                                                            <h:selectOneMenu id="selectDocForm" value="#{fconfig.oneChoiceDocForm}"
                                                                             valueChangeListener="#{controller.valueChangedDocForm}"
                                                                             styleClass="selectOneMenu cursor">
                                                                <f:selectItems value="#{fconfig.selectsDocForm}"/>
                                                            </h:selectOneMenu>
                                                        </h:panelGrid>
                                                        <h:panelGrid>
                                                            <h:graphicImage id="imageDocForm" url="images/blank.png" alt=""/>
                                                        </h:panelGrid>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                                <h:panelGrid columns="2">
                                                    <h:panelGrid width="110">
                                                        <h:outputLabel id="labelCategories" value="#{bundle['welcome.labelCategories']}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid columns="2">
                                                        <h:panelGrid>
                                                            <h:selectOneMenu id="selectCategories"
                                                                             value="#{fconfig.oneChoiceCategories}"
                                                                             valueChangeListener="#{controller.valueChangedCategories}"
                                                                             styleClass="selectOneMenu cursor">
                                                                <f:selectItems value="#{fconfig.selectsCategories}"/>
                                                            </h:selectOneMenu>
                                                        </h:panelGrid>
                                                        <h:panelGrid>
                                                            <h:graphicImage id="imageCategories" url="images/blank.png" alt=""/>
                                                        </h:panelGrid>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                                <h:panelGrid></h:panelGrid>
                                                <h:outputLabel id="labelDates" value="#{bundle['welcome.labelNews.value']}" styleClass="tip"/>
                                                <h:panelGrid columns="2">
                                                    <h:panelGrid width="110">
                                                        <h:outputLabel id="labelDateFrom" value="#{bundle['welcome.dateFrom.title']}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid columns="2">
                                                        <h:panelGrid>
                                                            <h:inputText id="dateFrom" value="#{controller.dateFrom}"
                                                                         valueChangeListener="#{controller.valueChangedDateFrom}"
                                                                         title="#{bundle['welcome.dateFrom.title']} (dd.mm.yyyy)" maxlength="99" styleClass="searchText"/>
                                                            <a4j:ajax event="click" render="imageDateFrom" execute="@region"/>
                                                        </h:panelGrid>
                                                        <h:panelGrid>
                                                            <h:graphicImage id="imageDateFrom" url="images/date_time.png" title="#{bundle['welcome.dateFrom.title']}" alt=""/>
                                                        </h:panelGrid>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                                <h:panelGrid columns="2">
                                                    <h:panelGrid width="110">
                                                        <h:outputLabel id="labelDateTo" value="#{bundle['welcome.dateTo.title']}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid columns="2">
                                                        <h:panelGrid>
                                                            <h:inputText id="dateTo" value="#{controller.dateTo}"
                                                                         valueChangeListener="#{controller.valueChangedDateTo}"
                                                                         title="#{bundle['welcome.dateTo.title']} (dd.mm.yyyy)" maxlength="99" styleClass="searchText"/>
                                                            <a4j:ajax event="click" render="imageDateTo" execute="@region"/>
                                                        </h:panelGrid>
                                                        <h:panelGrid>
                                                            <h:graphicImage id="imageDateTo" url="images/date_time.png" title="#{bundle['welcome.dateTo.title']}" alt=""/>
                                                        </h:panelGrid>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">  
                                            <h:panelGrid id="menu" styleClass="table">
                                                <h:panelGrid>
                                                    <h:outputLabel id="labelFind" value="#{bundle['welcome.labelFind']}" styleClass="hLabel"/>
                                                </h:panelGrid>
                                                <h:panelGrid columns="5">
                                                    <h:panelGrid>
                                                        <h:graphicImage id="imagePages" url="images/pages.png"
                                                                        title="#{bundle['welcome.imagePages.title']}"
                                                                        alt="#{bundle['welcome.imagePages.alt']}"/>
                                                    </h:panelGrid>
                                                    <h:panelGrid>
                                                        <h:selectOneMenu id="selectRecords" value="#{fconfig.oneChoiceRecords}"
                                                                         valueChangeListener="#{controller.valueChangedRecords}"
                                                                         styleClass="selectOneMenu cursor">
                                                            <f:selectItems value="#{fconfig.selectsRecords}"/>
                                                        </h:selectOneMenu>
                                                    </h:panelGrid>
                                                    <h:panelGrid width="114"/>
                                                    <h:panelGrid columns="2">
                                                        <h:panelGrid>
                                                            <a4j:commandButton id="searchButton" action="#{controller.searchInventory}"
                                                                               value="#{bundle['welcome.searchButton.value']}"
                                                                               title="#{bundle['welcome.searchButton.title']}"
                                                                               status="searchBooksStatus" styleClass="button cursor"/>
                                                        </h:panelGrid>
                                                        <h:panelGrid width="24">
                                                            <a4j:status name="searchBooksStatus">
                                                                <f:facet name="start">
                                                                    <h:graphicImage url="images/loading.gif" alt="#{bundle['global.loading']}" title="#{bundle['global.loading']}" styleClass="image"/>
                                                                </f:facet>
                                                            </a4j:status>
                                                        </h:panelGrid>
                                                    </h:panelGrid>
                                                    <h:panelGrid>
                                                        <h:commandButton id="clearButton" type="reset" value="#{bundle['welcome.clearButton.value']}"
                                                                         title="#{bundle['welcome.clearButton.title']}" styleClass="button cursor"/>
                                                        <a4j:ajax event="click" render="imageResource" execute="@this"/>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </td>
                                    </tr>
                                </table>
                            </h:form>
                            <h:panelGrid id="infobar" styleClass="table">
                                <h:panelGrid>
                                    <h:outputLabel id="labelInfo" value="#{bundle['welcome.labelFrameInfo.value']}" styleClass="hLabel"/>
                                </h:panelGrid>
                                <h:panelGrid columns="2">
                                    <h:panelGrid>
                                        <h:graphicImage url="images/info.png" title="#{bundle['welcome.imageInfo.title']}" alt="#{bundle['welcome.imageInfo.alt']}" styleClass="image"/>
                                    </h:panelGrid>
                                    <h:panelGrid>
                                        <h:commandButton value="#{bundle['welcome.labelFrameInfo.value']}" title="#{bundle['welcome.labelFrameInfo.title']}" styleClass="button cursor">
                                            <rich:componentControl target="instruction" operation="show"/>
                                        </h:commandButton>
                                    </h:panelGrid>
                                    <rich:popupPanel id="instruction" modal="false" autosized="false" resizeable="false" width="330">
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle['welcome.labelFrameInfo.value']}" title="#{bundle['welcome.labelFrameInfo.title']}" styleClass="hLabel"/>
                                        </f:facet>
                                        <f:facet name="controls">
                                            <h:outputLink value="#" onclick="#{rich:component('instruction')}.hide(); return false;">
                                                <h:graphicImage url="images/remove.png" title="#{bundle['global.imageRemove.title']}"
                                                                alt="#{bundle['global.imageRemove.alt']}"
                                                                styleClass="cursor" height="16" width="16"/>
                                            </h:outputLink>
                                        </f:facet>
                                        <h:outputLabel value="#{bundle['welcome.labelBodyInfo.value']}"></h:outputLabel>
                                    </rich:popupPanel>
                                </h:panelGrid>
                            </h:panelGrid>
                            <h:form id="newbooks" prependId="false">
                                <table align="center">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h:panelGrid>
                                                    <h:outputLabel id="labelNewBooks" value="#{bundle['welcome.imageNewBooks.title']}"
                                                                   styleClass="hLabel"/>
                                                </h:panelGrid>
                                                <h:panelGrid columns="4">
                                                    <h:panelGrid>
                                                        <a4j:commandLink id="linkImageNewBooks" action="#{controller.newBooks}"
                                                                         status="searchNewBooksStatus" styleClass="link">
                                                            <h:graphicImage id="imageNewBooks" url="images/book.png"
                                                                            title="#{bundle['welcome.imageNewBooks.title']}"
                                                                            alt="#{bundle['welcome.imageNewBooks.alt']}" styleClass="image"/>
                                                        </a4j:commandLink>
                                                    </h:panelGrid>
                                                    <h:panelGrid>
                                                        <a4j:commandLink id="linkTextNewBooks" action="#{controller.newBooks}"
                                                                         status="searchNewBooksStatus" styleClass="link">
                                                            <h:outputText id="textNewBooks" value="#{bundle['welcome.textNewBooks.value']}"
                                                                          title="#{bundle['welcome.textNewBooks.title']}"/>
                                                        </a4j:commandLink>
                                                    </h:panelGrid>
                                                    <h:panelGrid width="24">
                                                        <a4j:status name="searchNewBooksStatus">
                                                            <f:facet name="start">
                                                                <h:graphicImage url="images/loading.gif" alt="#{bundle['global.loading']}" title="#{bundle['global.loading']}" styleClass="image"/>
                                                            </f:facet>
                                                        </a4j:status>
                                                    </h:panelGrid>
                                                    <h:panelGrid>
                                                        <h:outputFormat id="newsPeriod" value="#{bundle['news.period']}">
                                                            <f:param name="0" value="#{fconfig.dateFrom}"></f:param>
                                                            <f:param name="1" value="#{fconfig.dateTo}"></f:param>
                                                        </h:outputFormat>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </h:form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <script src="scripts/jquery/jquery-1.8.2.js" type="text/javascript"></script>
            <script language="javascript" type="text/javascript">
                $j = jQuery.noConflict();
            </script>
            <script src="scripts/jquery/jquery.ui.core.min.js" type="text/javascript"></script>
            <script src="scripts/jquery/jquery.ui.datepicker.min.js" type="text/javascript"></script>
            <script src="scripts/jquery/jquery.ui.datepicker-ru.min.js" type="text/javascript"></script>
            <script src="scripts/jquery/jquery.ui.datepicker-uk.min.js" type="text/javascript"></script>
            <link rel="stylesheet" href="style/jquery-ui-1.9.0.custom.min.css" type="text/css"/>
            <link rel="stylesheet" href="style/jquery.ui.datepicker.min.css" type="text/css"/>
            <script type="text/javascript">
                jQuery(document).ready(function($) {
                    $.datepicker.setDefaults($.datepicker.regional['#{requestScope.locale}']);
                    var $dates = $("#dateFrom, #dateTo").datepicker({
                        defaultDate:"+1w",
                        changeMonth:true,
                        changeYear:true,
                        numberOfMonths:1,
                        dateFormat:'dd.mm.yy 00:00',
                        onSelect:function (selectedDate) {
                            var $option = this.id == "dateFrom" ? "minDate" : "maxDate";
                            var $instance = $(this).data("datepicker");
                            var $date = $.datepicker.parseDate(
                            $instance.settings.dateFormat ||
                                $.datepicker._defaults.dateFormat,
                            selectedDate, $instance.settings);
                            $dates.not(this).datepicker("option", $option, $date);
                        }
                    });
                });
            </script>
            <script type="text/javascript">
                jQuery(document).ready(function($) {
                    $("#imageDateFrom, #imageDateTo").hide();
                    $("#dateFrom, #dateTo").attr({ value: '' });
                    $("#clearButton").click(function () {
                        $("#dateFrom, #dateTo").attr({ value: '' });
                        $("#imageDateFrom, #imageDateTo").hide();
                    });
                });
            </script>                                             
        </ui:define>
    </ui:composition>

</html>